@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Geist Variable';
    font-weight: 450;
    letter-spacing: -0.02em;

  }

  h1,
  h2,
  h3 {
    @apply tracking-tighter font-bold my-4
  }

  body {
    @apply m-4
  }

  h1 {
    @apply text-4xl md:text-5xl
  }

  p {
    @apply text-lg md:text-xl
  }
}